<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Jacob Kaippallil Mathew</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RCH0KQQ7H2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RCH0KQQ7H2');
  </script>
<body>
  <center>
<h2>Contact</h2>
  
    <br>
    <br>
<p>Email: jacob.kmathew14@gmail.com</p>
<p>Phone: 647-779-3742</p>  
    

    <img src="static/images_jacob/Contactme.jpg" width="750">
    </center>
  <center>
    <p>Click Home to Return to Main page </p>
  <a href="https://3d51a0f9-fde3-4cbe-9fa5-4e314c126336-00-39pvmhp7z9zag.riker.replit.dev/" <button>Home</button></a>

  </center>
</body>

</html>