<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Jacob Kaippallil Mathew</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RCH0KQQ7H2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RCH0KQQ7H2');
  </script>
<body style="background-color: Gainsboro;">
 
  <center>
<h1>Education</h1>

    </center>
  <ul>
   <li> <p>Business Analytics Cambrian College 2024- Present </p> </li>
    <li><p> PG Diploma in Financial Planning and Wealth Management Lambton College Toronto 2015-2016</p> </li>
    <li><p> Bachelors in Commerce (B.com) University of Kerala(India) 2011-2014 </p> </li>
    </ul>
  <center>
  <h3>Certifications</h3>
    </Center>
  <ul> <li><p>Business Analytics: Data-Driven Decision Making program</p></li>
    <p>Download my Certificate: <a href="static/cert/Cert.pdf" download>Download (PDF)</a></p>
    <br>
    
    <br>
  <center>

    
     <img src="static/images_jacob/Edu_background.jpg" width="600">
        <p>Click Home to return to main page</p>
           <a href="https://3d51a0f9-fde3-4cbe-9fa5-4e314c126336-00-39pvmhp7z9zag.riker.replit.dev/" <button>Home</button></a>
     <br>
    </center>
</body>
  

</html>