<!DOCTYPE html>
<html>

  <style>
  table, th, td {
    border:1px solid black;
  }
  </style>
  <body>

  
<body style="background-color: lightskyblue;">
  <center>
<h2>Experience</h2>

    <img src=static/images_jacob/work-experience.jpg width="500"
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-RCH0KQQ7H2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RCH0KQQ7H2');
      </script>
<br>
<br>
<br>    
    <table>
      <tr>
        <th> Years</th>
        <th> Company </th>
        <th> Position </th>
        <th> Location </th>
      </tr>
      <tr>
        <td> 2021-2024</td>
        <td>Shoppers Drug Mart</td>
        <td> Post office Manager </td>
        <td> Toronto, Ontario </td>
      </tr>
      <tr>
        <td>2018-2021</td>
        <td>Shoppers Drug Mart</td>
        <td>Post Office Manager</td>
        <td> Calgary,Alberta</td>
      </tr>
      <tr>
        <td>2017-2018</td>
        <td>Shoppers Drug Mart</td>
        <td>Front Store supervisor</td>
        <td> Calgary,Alberta</td>
      </tr>
    </table>
<br>
<br>    
    
      <p>Click Home to return to main page</p>
         <a href="https://3d51a0f9-fde3-4cbe-9fa5-4e314c126336-00-39pvmhp7z9zag.riker.replit.dev/" <button>Home</button></a>
    </center>
</body>

</html>