<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Jacob Kaippallil Mathew</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-RCH0KQQ7H2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-RCH0KQQ7H2');
  </script>
<body style="background-color: lightseagreen;">
  <center>
    <h2>Skills</h2>
  </center>
  <ul>
    <li>
      <p> Programming in Python,R,SQL, and Excel </p>
    </li>
    <li>
      <p>Customer service skills </p>
    </li>
    <li>
      <p>Problem solving </p>
    </li>
  </ul>
  <center>
    <img src="static/images_jacob/skills.png" width="500">
    </center>
    <br>
    <br>
  <br>
  <br>
    <center>
      <p>Click Home to Return to Main page </p>
      <a href="https://3d51a0f9-fde3-4cbe-9fa5-4e314c126336-00-39pvmhp7z9zag.riker.replit.dev/" class="button">Home</a>
      </ul></a>

    </center>
</body>

</html>